:global {
  .ant-pro-layout-container {
    header {
      padding: 0 !important;
    }
  }

  .ant-pro .ant-pro-layout .ant-pro-layout-content {
    padding: 0;
    overflow-x: hidden;
  }
}

.menu-item {
  background-color: white;
}

.related-container {
  height: 33vh;

  &-title {
    text-align: center;
  }
}

.related-item {
  padding: 10px;
  color: #000000a6;
  cursor: pointer;

  &:hover {
    color: #40a9ff;
    background-color: #f6f5f5;
  }
}
