name: Playwright Tests
on:
  pull_request:
    branches:
      - '*'
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      # - name: Install pnpm
      #   uses: pnpm/action-setup@v2
      #   id: pnpm-install
      #   with:
      #     version: 7
      #     run_install: false
      # - name: Install dependencies
      #   run: pnpm install
      # - name: Install Playwright Browsers
      #   run: npx playwright install --with-deps
      # - name: Run Playwright tests
      #   run: npx playwright test
      # - uses: actions/upload-artifact@v3
      #   if: always()
      #   with:
      #     name: playwright-report
      #     path: e2e/playwright-report
      #     retention-days: 30
